.header__link-btn {
  color: #a9a9a9;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
  transition: opacity 0.3s linear;
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
}

.header__link-btn:hover {
  opacity: 0.6;
}
