.login__input {
  width: 100%;
  background-color: black;
  border: none;
  border-bottom: 2px solid #ccc;
  padding-bottom: 13px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 30px;
}

.login__input:last-of-type {
  margin: 0;
}

.login__input::placeholder {
  color: #cccccc;
}

@media (min-width: 568px) {
  .login__input {
    width: 320px;
  }
}
