.popup__close {
  background-image: url(../../../images/Close_Icon.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: -40px -40px 0 0;
  top: 0;
  right: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  width: 32px;
  height: 32px;
  background-size: 32px;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 568px) {
  .popup__close {
    margin-right: -1px;
    width: 20px;
    height: 20px;
  }
}